*.DS_Store
__init__.py
ckanext/__init__.pyc
ckanext/usmetadata/__init__.pyc
ckanext/usmetadata/plugin.pyc
ckanext/usmetadata/tests/__init__.py
ckanext_usmetadata.egg-info/
ckanext/.DS_Store
ckanext/usmetadata/.DS_Store
