{% ckan_extends %}

{% block package_basic_fields_custom %}

<div class="control-group">
  <label class="control-label" for="field-accessLevel">{{ _("Access Level") }}</label>
  <div class="controls">
    <select id="field-accessLevel" name="accessLevel" data-module="autocomplete">
      {% for level in h.accessLevel()  %}
        <option value="{{ level }}" {% if level in data.get('level', []) %}selected="selected"{% endif %}>{{ level }}</option>
      {% endfor %}
    </select>
  </div>
</div>

{% endblock %}
