.btn-remove-url, .hidden {
    display: none
}

.controls .radio.inline {
    padding-left: 3px;
    padding-top: 0px
}

.controls input[type="radio"] {
    top: 0px
}

.controls .ckan-icon {
    top: 0px
}

.controls .radio.inline {
    padding-left: 3px;
    padding-right: 15px;
    padding-top: 0;
}

.bad, .red {
    color: red;
}

.good {
    color: green;
}

.weird {
    color: darkslategrey;
}

.warning {
    font-style: italic;
}

.redacted-icon {
    margin: 4px;
    /*font-size:1.5em;*/
    float: left;
    width: 20px;
}
.icon-eye-open{
    color:#005d7a;
}

.icon-eye-close{
    color:#005d7a;
}

.dataset-form.form-horizontal .controls {
    margin-left: 150px;
}

.exemption_reason {
    margin: 3px;
    background: black;
    color: white;
}

.redacted-marker {
    float:left;
    padding:1px 1px 0 5px;
    margin:4px 0 0 2px;
}