{% ckan_extends %}

{# Remove 'free extras' from the package form. If you're using
convert_to/from_extras() as we are with our 'custom_text' field below then
you need to remove free extras from the form, or editing your custom field
won't work. #}
{% block custom_fields %}
{% endblock %}

{% block package_metadata_fields %}

  {{ form.input('data_dictionary', label=_('Data Dictionary'), id='field-data_dictionary', placeholder=_('URL to data_dictionary'), value=data.data_dictionary, error=errors.custom_text, classes=['control-medium']) }}

  {{ super() }}

{% endblock %}
