{% ckan_extends %}

{% block package_basic_fields_custom %}

<div class="control-group">
  <label class="control-label" for="field-accessLevel">{{ _("Access Level") }}</label>
  <div class="controls">
    <select id="field-accessLevel" name="accessLevel" data-module="autocomplete">
      {% for accessLevel in h.accessLevels()  %}
        <option value="{{ accessLevel }}" {% if accessLevel in data.get('accessLevel', []) %}selected="selected"{% endif %}>{{ accessLevel }}</option>
      {% endfor %}
    </select>
  </div>
</div>

{% endblock %}
