{% ckan_extends %}

{% block package_metadata_fields_custom %}
    {% set data = h.load_data_into_dict(data) %}

    <h1>Required Common Core Metadata</h1>
    {% snippet 'package/snippets/required_common_core_fields.html', data=data, errors=errors%}

    <h1>Required-If-Applicable Common Core Metadata</h1>
    {% snippet 'package/snippets/required_if_applicable_common_core_fields.html', data=data, errors=errors%}

    <h1>Expanded Common Core Metadata</h1>
    {% snippet 'package/snippets/expanded_common_core_fields.html', data=data, errors=errors%}

    <h1>Additional Metadata</h1>
    {% snippet 'snippets/custom_form_fields.html', extras=data.extras, errors=errors, limit=3 %}
{% endblock package_metadata_fields_custom %}



