{# See https://github.com/project-open-data/project-open-data.github.io/blob/master/schema.md#common-core-required-if-applicable-fields #}

{% import "macros/form.html" as form %}

{% set data = data or {} %}
{% set errors = errors or {} %}

{% block package_required_if_applicable_metadata %}

{{ form.input('data_dictionary', label=_('Data Dictionary'), id='field-data_dictionary', placeholder=_('http://my.gov/datadictionary'), value=data.data_dictionary, error=errors.data_dictionary, classes=['control-medium']) }}

{{ form.input('spatial', label=_('Data Dictionary'), id='field-data_dictionary', placeholder=_('http://my.gov/datadictionary'), value=data.data_dictionary, error=errors.data_dictionary, classes=['control-medium']) }}

{{ form.input('temporal', label=_('Data Dictionary'), id='field-data_dictionary', placeholder=_('http://my.gov/datadictionary'), value=data.data_dictionary, error=errors.data_dictionary, classes=['control-medium']) }}


{#
{{ form.input('publisher', id='field-publisher', label=_('Publisher'), placeholder=_('eg. Federal Bureau of Investigation'), value=data.publisher, error=errors.publisher, classes=['control-full', 'control-medium'], attrs={'title': 'The publishing agency.'}, ) }}

{{ form.input('contact_name', id='field-contact_name', label=_('Contact Name'), placeholder=_('eg. John Smith'), value=data.contact_name, error=errors.contname, classes=['control-full', 'control-medium'], attrs={'title': 'Contact person\'s name for the asset.'}, ) }}

{{ form.input('contact_email', id='field-contact_email', label=_('Contact Email'), placeholder=_('eg. john.smith@fbi.gov'), value=data.contact_email, error=errors.contemail, classes=['control-full', 'control-medium'], attrs={'title': " Contact person's email address. "}, ) }}

{{ form.input('unique_id', id='field-unique_id', label=_('Unique ID'), placeholder=_('eg. doj-a327-73809'), value=data.unique_id, error=errors.uid, classes=['control-full', 'control-medium'], attrs={'title': 'A unique identifier for the dataset or API as maintained within an Agency catalog or database.'}, ) }}
#}


{% endblock package_required_if_applicable_metadata %}