{% ckan_extends %}
{% block basic_fields_url %}
  <p>Disclaimer: Uploading any file will automatically make this dataset public.</p>
  {% set is_upload = (data.url_type == 'upload') %}
  {{ form.image_upload(data, errors, field_url='url', field_upload='upload', field_clear='clear_upload',
     is_upload_enabled=h.uploads_enabled(), is_url=data.url and not is_upload, is_upload=is_upload,
     upload_label=_('File'), url_label=_('URL')) }}
{% endblock %}

{% block basic_fields_name %}

    {{ form.input('name', id='field-name', label=_('Name'), placeholder=_('e.g. January 2011 Gold Prices'), value=data.name, error=errors.name, classes=['control-full']) }}

{% endblock %}

{% block basic_fields_format %}
    {{ form.input('accessURL_new', id='field-accessURL_new', label=_('Access URL'), placeholder=_('https://data.agency.gov/api/widgets-statistics/'),
        value=data.accessURL_new, error=errors.accessURL_new, classes=['control-medium'], is_required=false) }}

    {% set format_attrs = {'data-module': 'autocomplete', 'data-module-source': '/api/2/util/resource/media_autocomplete?incomplete=?'} %}

    {% call form.input('format', id='field-format', label=_('Media Type'), placeholder=_('e.g. text/csv, application/xml, or application/json'),value=data.format, error=errors.format, classes=['control-medium'], attrs=format_attrs, is_required=true) %}
    {% endcall %}

    {% call form.input('formatReadable', id='field-format-readable', label=_('Format'), placeholder=_('e.g. csv, xml, json'),
        value=data.formatReadable, error=errors.formatReadable, classes=['control-medium'], is_required=false) %}
    {% endcall %}

    {{ form.input('describedBy', id='field-describedBy', label=_('Data Dictionary'), placeholder=_('http://www.agency.gov/widgets/schema.json'),
        value=data.describedBy, error=errors.describedBy, classes=['control-medium'], is_required=false) }}

    {% call form.input('describedByType', id='field-describedByType', label=_('Data Dictionary Type'), placeholder=_('e.g. text/csv, application/xml, or application/json'),
        value=data.describedByType, error=errors.describedByType, classes=['control-medium'], attrs=format_attrs, is_required=false) %}
    {% endcall %}

    {{ form.input('conformsTo', id='field-conformsTo', label=_('Data Standard'), placeholder=_('http://www.agency.gov/widget-data-standard/'),
        value=data.conformsTo, error=errors.conformsTo, classes=['control-medium'], is_required=false) }}
{% endblock %}

{% block basic_fields_name_2 %}

{% endblock %}

{% block save_button %}
    <button class="btn btn-primary" name="save" value="go-metadata" type="submit">{% block save_button_text %}{{ _('Finish') }}{% endblock %}</button>
{% endblock %}