{% ckan_extends %}
{% block basic_fields_url %}
  <p>Disclaimer: Uploading any file will automatically make this dataset public.</p>
  {% set is_upload = (data.url_type == 'upload') %}
  {{ form.image_upload(data, errors, field_url='url', field_upload='upload', field_clear='clear_upload',
     is_upload_enabled=h.uploads_enabled(), is_url=data.url and not is_upload, is_upload=is_upload,
     upload_label=_('File'), url_label=_('URL')) }}
{% endblock %}

{% block basic_fields_name %}
  {{ form.input('name', id='field-name', label=_('Name'), placeholder=_('e.g. January 2011 Gold Prices'), value=data.name, error=errors.name, classes=['control-full']) }}
{% endblock %}

{% block basic_fields_format %}
    {% set format_attrs = {'data-module': 'autocomplete', 'data-module-source': '/api/2/util/resource/media_autocomplete?incomplete=?'} %}
    {% call form.input('format', id='field-format', label=_('Format'), placeholder=_('e.g. text/csv, application/xml, or application/json'), value=data.format, error=errors.format, classes=['control-medium'], attrs=format_attrs, is_required=true) %}
    {% endcall %}
{% endblock %}

{% block save_button %}
    <button class="btn btn-primary" name="save" value="go-metadata" type="submit">{% block save_button_text %}{{ _('Finish') }}{% endblock %}</button>
{% endblock %}