{% ckan_extends %}

{% block primary_content_inner %}
  {{ super() }}
  {% block package_description %}
    <h1>
      {% block page_heading %}
      {{ pkg.title or pkg.name }}
      {% if pkg.state.startswith('draft') %}
        [{{ _('Draft') }}]
      {% endif %}
      {% endblock %}
    </h1>
    {% block package_notes %}
    {% if c.pkg_notes_formatted %}
      <div class="notes embedded-content">
        {{ c.pkg_notes_formatted }}
      </div>
    {% endif %}
    {% endblock %}
    {# FIXME why is this here? seems wrong #}
    <span class="insert-comment-thread"></span>
  {% endblock %}
{% endblock primary_content_inner %}

{% block package_additional_info %}

    {% set pkg = h.load_data_into_dict(pkg) %}

    {# display common core metadata #}
    {% snippet "package/snippets/metadata_info.html", pkg_dict=pkg %}

    {% snippet "package/snippets/additional_info.html", pkg_dict=pkg %}
{% endblock %}

