{% ckan_extends %}

{% block package_description %}
  {{ super() }}

  {# Add our custom access_level field to the dataset read page. #}
  {% if pkg.get('access_level') %}
    <section id="dataset-access_level" class="resources module-content">
    <p><strong>Access Level</strong>: {{ pkg.access_level[0] }}</p>
    </section>
  {% endif %}
  {% if pkg.get('data_dictionary') %}
    <section id="dataset-data_dictionary" class="resources module-content">
    <p><strong>Data Dictionary</strong>: {{ pkg.data_dictionary[0] }}</p>
    </section>
  {% endif %}

{% endblock %}