{% ckan_extends %}

{% block styles %}
  {{ super() }}

  {# Import example_theme.css using Fanstatic.
     'example_theme/' is the name that the example_theme/fanstatic directory
     was registered with when the toolkit.add_resource() function was called.
     'example_theme.css' is the path to the CSS file, relative to the root of
     the fanstatic directory. #}
  {% resource 'dataset_url/dataset_url.js' %}
  {% resource 'dataset_url/dataset_edit_form.js' %}
  {% resource 'dataset_url/add_subagency.js' %}
  {% resource 'dataset_url/resource_form.js' %}
  {% resource 'dataset_url/resource_form.css' %}
{% endblock %}